.subheading {
    color: orange;
    margin-left: 30%;
    margin-right: 30%;
}

.articletext {
    margin-left: 30%;
    margin-right: 30%;
    line-height: 2;
}

.codesnippet {
    margin-left: 30%;
    margin-right: 30%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    font-size: 150%;
    padding: 10px;
}